h1 {
  margin-left: 32px;
  font-size: 3rem;
}

.Main {
  padding: 60px 0 100px;
  margin: 0 auto;
  max-width: 1200px;
  min-height: calc(100vh - 100px);
}

/**modal block*/
.modal-open {
  overflow: hidden;
}


/* HOME */

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}

.Home>h1 {
  font-size: 6rem;
  max-width: 520px;
  letter-spacing: 1px;
  text-align: center;
}

.Home>p {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.Home>div {
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
}

.Home>div>a {
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}

.Home>div>a:first-of-type {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.Home>div>a:last-of-type {
  border: none;
  background-color: var(--orange);
  color: var(--white);
}

/* Footer */

footer.Footer {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 32px 0 12px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 1px;
  color: var(--white);
}

footer.Footer>div {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

footer.Footer>div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer.Footer>div div:last-of-type {
  display: flex;
  flex-direction: column;
}

footer.Footer>div img {
  width: 24px;
  filter: brightness(5.5);
}

/* LogIn */

section.LogIn {
  background-color: var(--white-card);
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 320px;
  align-items: center;
  padding: 40px 0px;
  border-radius: 4px;
  margin: 40px auto;
  box-shadow: 0px 8px 8px -8px rgb(225 166 133);
}

section.LogIn h1 {
  margin: 0;
}

section.LogIn form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
}

section.LogIn input {
  height: 40px;
  font-size: 1.6rem;
  padding: 0 12px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 2px;
  width: 100%;
}

section.LogIn input:focus {
  outline: none;
}

section.LogIn button {
  height: 40px;
  border: none;
  background-color: var(--orange-btn);
  color: var(--white-card);
  font-size: 2rem;
  border-radius: 2px;
  cursor: pointer;
}

section.LogOut button {
  padding: 8px 16px;
  height: auto;
  cursor: pointer;
}

/* Comments CSS */


/* Register Css*/

form label {
  font-size: 1.8rem;
}

form select {
  width: fit-content;
  padding: 4px 12px;
}

form>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.LogIn h5 {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: -28px;
}

.LogIn ul {
  list-style: none;
  font-size: 1.26em;
  font-weight: 600;
}

.LogIn ul li {
  padding-bottom: 4px;
}

.LogIn .green {
  color: green;
}

.LogIn .red {
  color: red;
}

/*profile css*/

.profile {
  width: 80%;
}

.profile>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile>div h3 {
  font-size: 1.4rem;
}

.profile h5 {
  margin: -28px auto 12px;
  text-align: center;
  border-bottom: 2px solid var(--orange);
  padding-bottom: 12px;
}

.profile a {
  font-size: 1.6rem;
  text-decoration: none;
  text-align: end;
  text-transform: capitalize;
  color: var(--orange-btn);
  font-weight: 600;
}